div.movie-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

div.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  width: calc(25vw - 1.5em);
}

img.movie-poster {
  width: 100%;
  height: auto;
}

span.movie-title {
  font-weight: bold;
  text-align: center;
}

div.missing-poster {
  margin: 0.5em;
  width: calc(25vw - 1.5em);
  height: calc((25vw - 1.5em) * 3 / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
