div.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.movie-poster {
  margin: 0.5em;width: calc(25vw - 1.5em); height: auto
}

span.movie-title {
  font-weight: bold;
}
