body {
  overflow-y: hidden;
}

div.search-input>div {
  border-radius: 2em;
}

div.discovery-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.movie-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a.movie-link {
  text-decoration: none;
  color: black;
}

a.selected, button.selected {
  border: solid black 3px
}

div.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  width: calc(25vw - 1.5em);
}

img.movie-poster {
  width: 100%;
  height: auto;
}

span.movie-title {
  font-weight: bold;
  text-align: center;
}

div.missing-poster {
  margin: 0.5em;
  width: calc(25vw - 1.5em);
  height: calc((25vw - 1.5em) * 3 / 2);
  background-color: #F4F4F4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
